#network {
    width: 100%;
    height: 700px;
    border: 1px solid lightgray;
    grid-column-start: 1;
    background: linear-gradient(270deg, #724dda, #8c96c8, #8767df, #c5b6ee);
    background-size: 400% 400%;
    animation: gradientMoving 30s ease infinite;
}

@keyframes gradientMoving { 
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
.sidebar {
    grid-column-start: 2;
    margin: 15px
}
.container {
    display: grid;
    grid-template-columns: 85% auto;
}

select {
    width: 90%;
    margin: 5px;
    padding: 5px;
    height: 30px;
}

button {
    margin: 5px;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background: #724DDA;
    color: white;
    font-size: medium;
}